.login {
    &.card {
        width: 40%;
        max-width: 560px;
        margin: auto;
        bottom: 0;
        margin-top: 12%;
        min-height: 290px;
        left: 0;
        right: 0;
        min-width: 380px;
    }
    .link {
        padding: 6px 0px;
        float: left;
        a {
            padding: 4px;
        }
    }
}